In [12]:
import pandas as pd
import os
import random
import string

In [3]:
raw = pd.read_csv(os.path.join(os.curdir,'data','mobike_shanghai_sample_updated.csv'))

In [43]:
raw.nunique()

orderid             102361
bikeid               79062
userid               16887
start_time           30833
start_location_x       471
start_location_y       430
end_time             31297
end_location_x         479
end_location_y         440
track               100117
dtype: int64

In [4]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102361 entries, 0 to 102360
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   orderid           102361 non-null  int64
 1   bikeid            102361 non-null  int64
 2   userid            102361 non-null  int64
 3   start_time        102361 non-null  object
 4   start_location_x  102361 non-null  float64
 5   start_location_y  102361 non-null  float64
 6   end_time          102361 non-null  object
 7   end_location_x    102361 non-null  float64
 8   end_location_y    102361 non-null  float64
 9   track             102361 non-null  object
dtypes: float64(4), int64(3), object(3)
memory usage: 7.8+ MB

In [5]:
raw.head()

,orderid,bikeid,userid,start_time,start_location_x,start_location_y,end_time,end_location_x,end_location_y,track
0,78387,158357,10080,2016/8/20 6:57,121.348,31.389,2016/8/20 7:04,121.357,31.388,"121.347,31.392#121.348,31.389#121.349,31.390#1..."
1,891333,92776,6605,2016/8/29 19:09,121.508,31.279,2016/8/29 19:31,121.489,31.271,"121.489,31.270#121.489,31.271#121.490,31.270#1..."
2,1106623,152045,8876,2016/8/13 16:17,121.383,31.254,2016/8/13 16:36,121.405,31.248,"121.381,31.251#121.382,31.251#121.382,31.252#1..."
3,1389484,196259,10648,2016/8/23 21:34,121.484,31.320,2016/8/23 21:43,121.471,31.325,"121.471,31.325#121.472,31.325#121.473,31.324#1..."
4,188537,78208,11735,2016/8/16 7:32,121.407,31.292,2016/8/16 7:41,121.418,31.288,"121.407,31.291#121.407,31.292#121.408,31.291#1..."

In [17]:
map = {origin:(str(origin)+''.join(random.choices(string.ascii_letters+string.digits,k=20-len(str(origin)))) if len(str(origin))<20 else str(origin)[:20]) for origin in raw.bikeid.unique()}

In [24]:
raw.drop(['track','orderid','userid'],axis=1).assign(start_time=pd.to_datetime(raw.start_time),end_time=pd.to_datetime(raw.end_time),bikeid=raw.bikeid.apply(lambda x: map[x])).to_csv(os.path.join(os.curdir,'data','processed.csv'),index=False)

In [37]:
processed = pd.read_csv(os.path.join(os.curdir,'data','processed.csv')).astype({"start_time":"datetime64[ns]","end_time":"datetime64[ns]"})

In [38]:
processed.describe()

,start_time,start_location_x,start_location_y,end_time,end_location_x,end_location_y
count,102361,102361.000000,102361.000000,102361,102361.000000,102361.000000
mean,2016-08-19 11:07:24.768808448,121.454144,31.251740,2016-08-19 11:24:36.478541568,121.453736,31.252029
min,2016-08-01 00:23:00,121.173000,30.842000,2016-08-01 00:32:00,120.486000,30.841000
25%,2016-08-12 17:55:00,121.415000,31.212000,2016-08-12 18:13:00,121.414000,31.212000
50%,2016-08-20 12:32:00,121.456000,31.260000,2016-08-20 12:46:00,121.456000,31.261000
75%,2016-08-26 19:51:00,121.497000,31.294000,2016-08-26 20:15:00,121.497000,31.294000
max,2016-08-31 23:58:00,121.970000,31.450000,2016-09-01 08:25:00,121.971000,31.477000
std,NaN,0.060862,0.057358,NaN,0.061577,0.057740

In [39]:
processed.head()

,bikeid,start_time,start_location_x,start_location_y,end_time,end_location_x,end_location_y
0,158357NSqrL1JDPvXTU9,2016-08-20 06:57:00,121.348,31.389,2016-08-20 07:04:00,121.357,31.388
1,92776nsU9MrxaXPDhT5E,2016-08-29 19:09:00,121.508,31.279,2016-08-29 19:31:00,121.489,31.271
2,152045VxGUdiVjqOzNjS,2016-08-13 16:17:00,121.383,31.254,2016-08-13 16:36:00,121.405,31.248
3,196259Ho4odkXSt3qjIm,2016-08-23 21:34:00,121.484,31.320,2016-08-23 21:43:00,121.471,31.325
4,782087q9Q1VRno42o6pv,2016-08-16 07:32:00,121.407,31.292,2016-08-16 07:41:00,121.418,31.288

In [40]:
processed.groupby('bikeid').sort_values('start_time',ascending=False).head(1)

AttributeError: 'DataFrameGroupBy' object has no attribute 'sort_values'